.jaxuv { 
  border-right-width: 80px;
  padding-left: 40px;
  margin-left: 11px;
  font-size: 47px;
  margin-left: 78px;
  margin-left: 73px;
  margin-top: 74px;
  margin-bottom: 25px;
  line-height: 18px;
  margin-left: 95px;
}
