.jaxuv { 
  border-right-width: 80px;
  padding-left: 40px;
  margin-left: 11px;
  font-size: 47px;
  margin-left: 78px;
  margin-left: 73px;
  margin-top: 74px;
  margin-bottom: 25px;
  line-height: 18px;
  margin-top: 83px;
  padding-top: 22px;
  margin-right: 0px;
  border-right-width: 22px;
  margin-left: 27px;
  line-height: 3px;
  margin-left: 58px;
  margin-bottom: 45px;
  padding-right: 78px;
}
